body{
    margin: 0px;
    padding: 80px 0 0 0;
    color: #fff;
    font-family: sans-serif; 
}

.container{
    margin: auto;
    max-width: 1300px;
    padding: 0 15px; 
}

.app-page{
    min-height: 800px;
}

ul{
    margin: 0;
}

li{
    list-style-type: none;
}

.app-background{
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}